/*Body*/

body {
  margin: 0;
  display: grid;
  grid-template-rows: 15% 85%;
  background-color: #efefef;
  }

/*Header Section*/

header {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 50px 75px;
  background-color: #2e343d;
  grid-template-areas: 
  ". admin"
  "nav sitename";
  }

nav{
  grid-area: nav;
}

article {
  position: relative;
}

.views{
  position: absolute;
  left: 83%;
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.view-number{
  font-size: 2em;
}

.fa-arrow-circle-right{
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 3em;
  color: white;
}

.playlist-number{
  font-weight: bold;
}

.fa-share-alt{
  color: #448cff;
}

.fa-user-circle{
  color: white;
}

.fa-caret-down{
  color: #448cff;
}

.header-menu {
  color: #efefef;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0em;
  margin-left: 0em;
  width: 400px;
  list-style-type: none;
}

.col-2-header-features {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

section.site-name.col-2-header-features {
  height: 90%;
}

.admin-login {
  grid-row: 1;
  grid-area: admin;
  font-size: x-large;
  color: #9ea8ba;
}

.site-name {
  display: flex;
  color: white;
  grid-row: 2;
  grid-area: sitename;
  font-size: 1.5em;
}

/*<--------------------------------Main Section------------------------------->*/

.main-section {
  grid-row: 2;
  background-color: #efefef;
  padding-top: 2em;
  height: 100vh;
}

main h2 {
  padding-left: 15px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(2, 400px);
  grid-gap: 15px;
  margin-top: 35px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
}

aside {
  width: 100%;
  height: 62.5%;
  background-color: white;
}

.date{
  font-style: italic;
  font-size: small;
  padding-left: 1em;
}

aside a {
  display: block;
  text-align: center;
  padding-top: 1em;
  background-color: #efefef;
  height: 40px;
  margin-right: 1em;
  margin-left: 1em;
}

aside p {
  padding-right: .5em;
  padding-left: .5em;
}

.card-template {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 2px #d4d4d4;
  background-position: center center;
}

.card-template img{
  height: 150px;
  width: 100%;
  opacity: .8;
}


.card-template img:hover{
  opacity: 1;
}

        /*<-------------------------------Media Queries for Cards---------------------------->*/



/*Media query for three rows*/

/*@media screen and (min-width: 1505px)

/*media query for four rows and ipads*/
@media screen and (min-width: 685px) and (max-width: 899px){
  .card-section {
    grid-template-rows: repeat(4, 400px);
  }

    header {
    grid-auto-rows: 50px 60px 50px;
    padding-bottom: 2em;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .header-menu{
    width: 85%;
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
  }

}

/*media query for 8 rows*/
@media screen and (min-width: 605px) and (max-width: 684px){

  .card-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 400px);

  }

  nav{
    display: flex;
    justify-content: center;
  }
  .header-menu {
    width: 80%;
  }

  header {
    grid-auto-rows: 50px 60px 50px;
    padding-bottom: 2em;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
  }

}

/*media query where 8 rows begins
*/@media screen and (max-width: 604px){

  .card-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 400px);
  }

  .header-menu{
    width: 85%;
  }

  header {
    grid-auto-rows: 50px 60px 75px;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
  }

}

/*Another media query for 8 rows*/
@media screen and (min-width: 387px) and (max-width: 514px){

  .card-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 400px);

  }

  .header-menu {
    font-size: x-small;
    width: 80%;
  }


  header {
    grid-auto-rows: 50px 60px 50px;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
  }
}

/*Another 8 row media query for smaller devices*/
@media screen and (min-width: 321px) and (max-width: 400px){

  .card-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 400px);
  }

  .header-menu {
    font-size: x-small;
    width: 80%;
  }

  header {
    grid-auto-rows: 50px 60px 50px;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
  }

}

/*Smallest mobile screens*/
@media screen and (max-width: 320px){

  .card-section {
    grid-template-columns: 100%;
  }

  .header-menu {

    font-size: xx-small;
    width: 80%;
  }

  header {
    grid-auto-rows: 45px 60px 50px;
    grid-template-areas: 
    "sitename sitename"
    "admin admin"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15%;
    width: 100%;
  }

  .site-name {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
  }

}