/*Body*/

body {
  margin: 0;
  display: grid;
  grid-template-rows: 15% 85%;
  }

/*Header Section*/

header {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  background-color: #2e343d;
  grid-template-areas: 
  ". admin"
  "nav sitename";
  }

nav{
  grid-area: nav;
}

.header-menu {
  color: #efefef;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0em;
  margin-left: 0em;
  width: 400px;
}

.col-2-header-features {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

.admin-login {
  grid-row: 1;
  grid-area: admin;
}

.site-name {
  grid-row: 2;
  grid-area: sitename;
}

/*Main Section*/

.main-section {
  grid-row: 2;
  background-color: #efefef;
  padding-top: 2em;
}

main h2 {
  padding-left: 15px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(2, 400px);
  grid-gap: 15px;
  margin-top: 35px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

article { 
  position: relative;
}

aside {
  position: relative;
  top: 34%;
  width: 100%;
  height: 66%;
  background-color: white;
  border-top: .5px solid #2e343d;
}

aside a {
  display: block;
  text-align: center;
  padding-top: 1em;
  background-color: #efefef;
  height: 40px;
  margin-right: 1em;
  margin-left: 1em;
}

aside p {
  padding-right: .5em;
  padding-left: .5em;
}

.card-template {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 2px #d4d4d4;
/*  border-top: 1px solid #2e343d;
*/  background-position: center center;

}

.card1 {
  background-color: red;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic1.jpg');
  background-size: cover;
  background-position: 0px 400px;
}

.card2 {
  background-color: yellow;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic2.jpg');
  background-size: cover;
}

.card3 {
  background-color: blue;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic6.jpg');
  background-size: cover;
  background-position: 0px 1150px;

}

.card4 {
  background-color: green;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic7.jpg');
  background-size: cover;
  background-position: 0px 800px;
}

.card5 {
  background-color: orange;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic5.jpg');
  background-size: cover;
  background-position: 0px 1130px;
}

.card6 {
  background-color: purple;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic8.jpg');
  background-size: cover;
  background-position: 0px 800px;
}

.card7 {
  background-color: pink;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic4.jpg');
  background-size: cover;
  background-position: 0px 760px;
}

.card8 {
  background-color: magenta;
  background: url('/Users/Cierra/Documents/Turing Projects/static-comp-2/images/pic3.jpg');
  background-size: cover;
  background-position: 0px 1450px;
}

        /*Media Queries for Cards*/

/*Media query for three rows*/
@media screen and (min-width: 900px) and (max-width: 1200px){

  .card-section {
    grid-template-rows: repeat(3, 400px);
  }

}

/*Media query for four rows*/
@media screen and (min-width: 605px) and (max-width: 899px){

  .card-section {
    grid-template-columns: 
    grid-template-rows: repeat(4, 400px);

  }

}

/*media query for mobile/8 rows
*/@media screen and (max-width: 604px){

  .card-section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 400px);
  }

}

@media screen and (min-width: 321px) and (max-width: 414px){

  .card-section {
    grid-template-columns: 100%;
  }

  .header-menu {
    font-size: small;
    width: 280px;
  }

  header {
    grid-template-columns: 1fr;
    background-color: #2e343d;
    grid-template-areas: 
    "admin sitename"
    "nav nav";
  }

  .admin-login {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

  }

  .site-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }





}

/*Smallest mobile screens*/
@media screen and (max-width: 320px){

    .card-section {
    grid-template-columns: 80%;
  }

}

/*
  .header-menu:hover{
    cursor: pointer;
  }
  ul .header-menu ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;

  }

  ul .header-menu:hover > ul,
  ul .header-menu ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

  ul .header-menu ul .header-menu {
  clear: both;
  width: 100%;
}*/